/* Estilos del Terrario */
h1 {
    color:darkmagenta;
    text-align: center;
 }

 .container {
   background-color: #eee;
   width: 15%;
   position: absolute;
   height: 100%;
   top: 10px;
   padding: 10px;  
   border: 3px;
   border-style: dashed;
   border-color: blueviolet; 
}

 #left-container{
    left: 0px;
 }
 
 #right-container{
    right: 0px;
}

.plant-holder {
   position: relative;
   height: 13%;
   left: -10px;
   border: 3px;
   border-style: dashed;
   border-color: rgba(85, 145, 224, 0.692); 
} 

.plant{
   position: absolute;
   max-width: 150%;
   max-height: 150%;
   z-index: 2;
}